<div th:fragment=sidebar>
	<nav class="pcoded-navbar">
		<div class="sidebar_toggle">
			<a href="#"><i class="icon-close icons"></i></a>
		</div>
		<div class="pcoded-inner-navbar main-menu">			

			<div class="pcoded-navigation-label"></div>
			<ul class="pcoded-item pcoded-left-item">
				<li class=""><a th:href="@{/index}"
					class="waves-effect waves-dark"> <span class="pcoded-micon"><i
							class="ti-home"></i><b>D</b></span> <span class="pcoded-mtext">Início</span>
						<span class="pcoded-mcaret"></span>
				</a></li>
			</ul>
			<div class="pcoded-navigation-label">Classificação e
				Temporalidade</div>
			<ul class="pcoded-item pcoded-left-item">
				<li class="pcoded-hasmenu"><a href="javascript:void(0)"
					class="waves-effect waves-dark"> <span class="pcoded-micon"><i
							class="ti-layout-grid2-alt"></i><b>BC</b></span> <span
						class="pcoded-mtext">Plano de Classificação</span> <span
						class="pcoded-mcaret"></span>
				</a>
					<ul class="pcoded-submenu">
						<li class=" "><a href="/classes"
							class="waves-effect waves-dark"> <span class="pcoded-micon"><i
									class="ti-angle-right"></i></span> <span class="pcoded-mtext">Cadastrar
									Classe</span> <span class="pcoded-mcaret"></span>
						</a></li>
						<li class=" "><a href="/classes/cadastro/subclasse"
							class="waves-effect waves-dark"> <span class="pcoded-micon"><i
									class="ti-angle-right"></i></span> <span class="pcoded-mtext">Cadastrar
									Sub-Classe</span> <span class="pcoded-mcaret"></span>
						</a></li>
						<li class=""><a href="/classes/cadastro/grupo"
							class="waves-effect waves-dark"> <span class="pcoded-micon"><i
									class="ti-angle-right"></i></span> <span class="pcoded-mtext">Cadastrar
									Grupo</span> <span class="pcoded-mcaret"></span>
						</a></li>
						<li class=" "><a href="/classes/cadastro/subgrupo"
							class="waves-effect waves-dark"> <span class="pcoded-micon"><i
									class="ti-angle-right"></i></span> <span class="pcoded-mtext">Cadastrar
									Sub-Grupo</span> <span class="pcoded-mcaret"></span>
						</a></li>

					</ul></li>
					
					<li class=""><a href=""
					class="waves-effect waves-dark"> <span class="pcoded-micon"><i
							class="ti-layout-grid2-alt"></i><b>FC</b></span> <span
						class="pcoded-mtext">Tabela de Temporalidade</span> 
				</a></li>
			</ul>
			
			
			
			<div class="pcoded-navigation-label">Documentos</div>
			<ul class="pcoded-item pcoded-left-item">
				<li class=""><a th:href="@{/index}"
					class="waves-effect waves-dark"> <span class="pcoded-micon"><i
							class="bi bi-file-earmark"></i><b>FC</b></span> <span
						class="pcoded-mtext">Cadastrar Documento</span> <span
						class="pcoded-mcaret"></span>
				</a></li>
			</ul>
			
			


		</div>
	</nav>
</div>